/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2016, 4:18:15 PM
    Author     : ozkrp
*/

h1{
    color: #000; 
    background-color: #cccccc;
    font-size: 24px;
    text-align: center;
}

#middle {
    border: 10px;
    border-color: #000000;
    background-color: #000;
} 

input[type="text"] {
    width: 100px;
}

.resizedTextbox {width: 20px; height: 20px}